/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*micro clear fix */
.grouping:before,
.grouping:after {
    content: " ";
    display: table;
}
.grouping:after{
    clear: both;
}
img, iframe, video, object{
    max-width: 100%;
}

html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
}

strong, b{
    font-weight: bold;
}

h1{
    font-size: 50px;
    color: blue;
}

.content-block{
    padding: 50px 0;
}


.content-block .figure{
    float: left;
   /*  margin:300 px 30px; */
     margin: 3.125%; 
       overflow: hidden; 
       box-sizing: border-box;

  }


  .content-block .figure img:hover{
  /*   border: 10px solid black; */
    -webkit-transform: scale(2.0, 2.0);
    -moz-transform: scale(2.0, 2.0);
    -o-transform: scale(2.0, 2.0);
    -ms-transform: scale(2.0, 2.0);
    transform: scale(2.0, 2.0);
   
   
   }

   .content-block .figure img{
    float:left;
    -webkit-transition: tranform .25s ease-in-out;
    -moz-transition: tranform .25s ease-in-out;
    -o-transition: tranform .25s ease-in-out;
    transition: tranform .25s ease-in-out;
     
     }

.content-block h1{
   color: red;
}

.content-block p {
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
/* margin is 0 top to bottom and right and left are auto.
have to give width.. without this you can center ***/
 .wrapper{
     margin: 0 auto;
     max-width: 960px;
     width: 90%;
 }
 /* .clear{
     clear:both;
 } */

 /** column **/
 .column{
     float: left;
    /*  width:300px; 300/960 */
    width: 31.25%;
     margin-left: 3.125%;
 }
/** to remove the margin on the left side only.. */
 .column:first-child{
     margin-left: 0;
 }

 .secondary-section{
     margin-bottom: 40px;
    
 }
 .button{
     border:2px solid black;
     color: black;
     padding: 10px, 0;
     display: block;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-weight: bold;
     letter-spacing: 1.5px;
     -webkit-transition: .25s all ease-in-out;
     -moz-transition: .25s all ease-in-out;
     -o-transition: .25s all ease-in-out;
     transition: .25s all ease-in-out;
    
   
    
 }

 .button:hover{
     background: pink;
     color:black;
    
 }

 .button:focus{
    background: pink;
    color:black;
}
.button-narrow{

    width:  50%;
}

.button-alt{
    
     color: red;
     border-color: red;
 }

 /** module styles */
 .float-left{
     float: left;
 }
 
 .float-right{
    float: right;
}


/*** intro content***/

.intro-content{
    /* width:600px;  /* 600/960 */ 
    /*  margin-right: 60px;  60/960*/
    padding: 50px 0;
    margin-top: 50px;
   

}

.intro-content h1{
    color: #312020;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
.intro-content p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



/** Nav ***/
nav{
    background-color: #634D5A;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 8px 15px rgba(22, 5, 5, 0.25);

}
.primary-nav{
    float:right;
}
.primary-nav >li{
    float:left;
}

.primary-nav >li > a{
   padding:25px 0;
   width:150px;
   border-left: 1px solid grey;
   float: left;
}


.primary-nav >li:first-child > a{
   border-left: none;
 }

nav li a{

    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
     text-align: center;
    -webkit-transition: 0.15s background-color linear;
    -moz-transition: 0.15s background-color linear;
    -o-transition: 0.15s background-color linear;
    transition: 0.15s background-color linear;
}

 nav figure{
    position: absolute;
    top: -10px;
    left: 50px;
    /* -webkit-animation-name: sun;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 2s;
   /*  -webkit-animation-iteration-count: 3; */
    /* -webkit-animation-fill-mode: backwards;  */

} 

nav img{
    width:300px;
} 
/* @-webkit-keyframes sun{
    0%{
        -webkit-transform: translate(90%, 70%);
        opacity: 0;
    }
    33%{
        -webkit-transform: translate(40%, 20%) rotate(90deg);
    }
  
    66%{
        -webkit-transform: translate(10%, 50%);
    }
  100%{
        -webkit-transform: translate(0%) rotate(0deg);
        opacity: 1;
    }
}  */




nav li a:focus,
nav li a:hover,
nav li a:active{
    background-color: darkgray;
    color:#fff;

    
}

.mobile-menu-icon{
    background: url("../images/menu.png") 0 0 no-repeat;
    width: 30px;
    height: 30px;
    float:right;
    margin: 10px 15px 10px 0;
    cursor: pointer;

}

.mobile-menu-icon.open{
       background-image: url("../images/img2.jpg");
}

/*** drop down***/

.has-submenu ul{
     position: absolute;
     z-index: 5;
     top: 70px;
    background-color: #634D5A;
     border-bottom: 1px solid grey;
     border-left: 1px solid grey;
     border-right: 1px solid grey;
     width: 150px;
     border-radius: 0 0 15px 15px;
     overflow: hidden;
     display:none;


}


.has-submenu a{
    display: block;
    padding: 20px 0;
    position: relative;
    z-index: 10;
}

.has-submenu:hover ul{
    display: block;
    -webkit-animation-name: slideDown;
    -webkit-animation-iming-function: ease;
    -webkit-animation-duration: .25s;

}

@-webkit-keyframes slideDown{
    0%{
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    90%{
        -webkit-transform: translateY(-10%);
    }
  100%{
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}


/** start of media qureries */

@media screen and (max-width: 1023px) {

    .intro-content{
        float: none;
        width:auto;
        padding-bottom: 0;
        margin-bottom: 30px;

    }

    .intro-content{
        float: none;
        width:auto;
        padding-bottom: 0;
        margin-bottom: 30px;

    }
    .go-premium{
        float: none;
        width: auto;
        margin-top: 0;

    }
    .column{
        float: none;
        width: auto;
    }
    .column figure{
        margin: 0 auto;
        max-width: 250px;
        width: 100%;
    }
    .column h1{
        text-align: center;
    }
}  /*  close media query*/

@media screen and (max-width: 900px){

    nav{
        position: static;
    }

    .primary-nav{
        width:100%;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out;
    }

    .logo{
        width:100%;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out;
    }

    .primary-nav > li{
        float:right;
        width:100%;
    }


    .primary-nav li a{
        text-align: right;
        padding: 15px 25px 15px 0;
        width: 100%;
        border-bottom: 1px solid #e7e7e7;
        border-left: none;
        font-size: 13px;
    }
    nav figure{
        width:100px;
        top: 0;
        left: 20px;
    }

    .has-submenu ul{
        position: static;
        display: block;
        border: none;
        border-radius: 0;
        width: 100%;

    }

    .has-submenu:hover ul{
        -webkit-animation: none;
        animation: none;
    }
}

/*** contact us page ***/


.contact-info{
    /* margin-top: 50px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    clear:none;
    text-align: center;
    

 }
  


/* 
.content-block h2{
   background-color: green;

}

.content-block  p{
   background-color: green;
   font-family: Georgia, 'Times New Roman', Times, serif;
   clear:none;
}
 */


 /*** contact stylesheet ***/
 .contact-main{
     clear: both;
     overflow: hidden;
     padding: 10px 0 0 0;
    margin-top: 100px;
    margin-left: 15px;
 }






